<div class="container">
    <h1>The Furious Four</h1>
    <img src="img/furious-four.png" id="the-furious-four">
    <label for="time">
        <input id="time" type="range" min="1" orient="vertical" max="4" ng-model="vm.values.time">
    </label>
    <label for="budget">
        <input id="budget" type="range" min="1" orient="vertical" max="4" ng-model="vm.values.budget">
    </label>
    <label for="quality">
        <input id="quality" type="range" min="1" orient="vertical" max="4" ng-model="vm.values.quality">
    </label>
    <label for="scope">
        <input id="scope" type="range" min="1" orient="vertical" max="4" ng-model="vm.values.scope" class="no-right">
    </label>
</div>
